containers/*/*
!/containers/*/bootstrap.sh
!/containers/*/Dockerfile
!/containers/*/target.txt
!/containers/*/main.cf
!/containers/*/.bashrc
!/containers/*/ssmtp.conf
!/containers/*/html/.gitkeep
!/containers/*/scripts/
!/containers/*/httpd.conf
!/containers/*/settings.php
!/containers/*/varnish.params
!/containers/*/default.vcl
!/containers/*/composer*
!/containers/*/apache
!/containers/*/varnish
!/containers/*/nginx
!/containers/*/php*
