containers/*/*
!/containers/*/bootstrap.sh
!/containers/*/Dockerfile
!/containers/*/target.txt
!/containers/*/main.cf
!/containers/*/.bashrc
!/containers/*/ssmtp.conf
!/containers/application/html/.gitkeep
!/containers/application/scripts/
!/containers/web_server/httpd.conf
