http.sslcainfo=/etc/ssl/certs/ca-certificates.crt
http.sslverify=false
http.postbuffer=157286400
core.autocrlf=false
core.filemode=false
core.eol=lf
core.excludesfile=/root/.gitignore
core.safecrlf=false
push.default=matching
url.https://github.com/.insteadof=git://github.com/
credential.helper=store
color.ui=auto
credential.helper=cache --timeout=3600000000000000
