<VirtualHost *:80>
    DocumentRoot "/var/www/html/ixarm_recette/web"
    ServerName ixarm-recette.env
    ServerAlias *.ixarm-recette.env *.achats-defense.env achats-defense.env
    <Directory "/var/www/html/ixarm_recette/web">
        Options Indexes FollowSymLinks Includes ExecCGI
        AllowOverride All
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>
